body,p,header,aside,section,article,h1,h2,h3,nav,div,footer {
	padding:0;
	margin:0:
}
body { 
	background-color:#646464;
	font: 100% Verdana;
}
#wrapper {
	float: center;
	max-width: 960px;
	margin:0 auto;
	background-color: ;
}
p{
 margin-bottom: .1em;
 }
 
 header {
	text-align: center;
	background-color: #646464;
	height: 200px;
	font-family: 'Itim', cursive;
}
header h1 {
	color: #646464;
	font-weight: 900;
	font-size:2.5em;
	margin: 0 auto 1em auto;
	padding: 0.6em;
	max-width: 40%;
	border-radius: 1em;
	background-color: #FF0000;
}
aside {
	max-width: 200px;
	float: left;
	min-height: 600px;
	color: #000000;
	background-color: #FF0000;
	}
	aside p {
		padding: 0px 20px;
		
	}
	section{
		padding: 10px;
		float: center;
		max-width: 80%;
	}
	article p {
		padding-left:1.5em;
	}
	
	footer {
		clear: both;
		background-color: #FF0000;
		text-align: center;
		font-size:85%;
		min-height:100px;
	}
	
	footer p { 
		padding-top:3%;
	}


	ul{
		 background-color: #646464;
	}


	li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

	nav ul {
		margin:0;
		list-style:none;

	}
	nav ul li{
		display:inline-block;
		margin:00.35em;
	}

	nav ul li ul{
		display: none;
	}
	nav ul li a{
		font-size:110%
		display: block;
		color:#e1e2dd;
		border-radius: 8px 8px 00;
		text-decoration: none;
		padding: 0.6em 1.2em 0.6em 1.2em;
		background-color:#483838;
		margin-left:-1px;
		white-space: nowrap;
		outline:0;
	}	
	nav ul li a:hover
	nav ul li a:focus
	nav ul li a:active{
		background-color:#e1e2dd;
		color:#483838;text-align: center;
	}
nav ul li ul{
	display:none;
}
	nav ul li a{
	font-size: 110%;
	display: block;
	border-radius: 8px 8px 0 0; /*  dog-ears the top, flattens the botom  */
	color: #e1e2dd;
	text-decoration: none;
	padding: 0.6em 1.2em 0.6em 1.2em; /*  the same spacing as before */
	background-color: #FF0000;
	margin-left: -1px;  /* pull them in close!  */
	white-space: nowrap;  /*  don't let long menu selections fall to the next line - messes with the display!  */
	outline:0;  /*  some browser will outline a link - we would rather it not  */
}
	
	}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
	background-color: #FF0000;
	color: #483838;
}



	@media screen and (max-width:1160px){
	header{ max-height:150px;}
	header h1{font-size:1.5em;}
	nav{ position:relative; top:34; left:-25px;}
    nav ul li a {font-size:90%;}
	section {float: center;}
	aside{float: none;max-width:100%;}
	#dashboard{display:none;}

}

@media screen and(max-width:760px){
#wrapper{
	margin:0;
	padding:0;
	width:auto;
}
header{
	max-height:150px;
	background-size:100%
}
header h1{
	font-size:1.5em;
}
header nav{
	position: absolute;
	top:5px;
	width:100%;
	margin-left:20px;
}
header nav ul{
	position:relative;
	display:none;
}
header nav li{
	margin-bottom: 0px;
	z-index:1000;
	border-top: 1px solid #e1e2dd;
}
/*combine these in your inventory and seperate with a comma*/ 
header nav ul li,
header nav ul li a{
	width:100%;
	float: none;
	text-align: left;
	color:#483838,
	background-color:#FF0000;
}
/* you'll need to add these selectors- they are not a part of the original inventory! */
header nav li:hover ul,
header nav li hover ul {
	width:100%;
	display:block;
	border-radius:0;
	left:25px;float:none;
    z-index:1001;	
}
header nav li a:hover,
header nav li a.hover {
	color:#e1e2dd;
	background-color:#FF0000;
	border-radius:0;
}

/* Display 'show menu' link */
.show-menu{
	display:block;
}

#dashboard{
	display:none;
}
aside{
	float:right;
	max-width:100%;
	min-height:0%;
	padding-bottom:1%;
}
section{
	float: center;
	max-width:80%;
}
section article{}
section article h2{}
.cols{}
.cols-span{}
section article p{}
footer{}
}
	
.cols {
		
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap:10px;
		float: center;
	}
		
	.cols-span {
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
}
	.cols p {
	margin-bottom: 1.1em;
	text-align: justify;
}	
	.lead {
	font-family: Georgia;
	font-size:1.3em;
	text-align: left;
	font-style: italic;
}


.lead{
	font-family: Georgia;
	font-size: 1.3em;
	text-align: left;
	font-style: italic;
	column-span: all;
}
.rgt {
	float: right;
	max-width: 30%;
}
img {
	padding: 0.3em;
}
.smImg  {
	float: left;
	max-width: 30%;
	padding-right: 0.4em;
}
article img {
	max-width: 100%;
}
.spec {
	margin: 15px 0 10px 0;
	border-bottom: 1px solid #483838;
	line-height: 0;
}
.ads {
	float: right;
	text-align: center;
	font-size: 90%;
	color: #b49898;
	background-color: #483838;
}
.ads p {
	padding-top: 0.3em;
}
video {
	float: left;
	padding:  5px;
	margin-top:  10px;
}
.show-menu{
	font-family:Helvetica,Arial< sans-serif;
	text-decoration: none;
	color:#483838;
	background:#b49898;
	text-align: center;
	padding:10px 0;
	position: relative;
	top:-20px;
	display: none;
}
/*Hide checkbox*/
input[type=checkbox] {
	input[type=checkbox]{
		display:none;
	}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
	display:none;
}

@media screen and(max-width:460px){
#wrapper{
	margin:0;
	padding:0;
	width:auto;
}
header{
	max-height:150px;
	background-size:100%
}
header h1{
	font-size:1.5em;
}
header nav{
	position: absolute;
	top:5px;
	width:100%;
	margin-left:20px;
}
header nav ul{
	position:relative;
	display:none;
}
header nav li{
	margin-bottom: 0px;
	z-index:1000;
	border-top: 1px solid #e1e2dd;
}
/*combine these in your inventory and seperate with a comma*/ 
header nav ul li,
header nav ul li a{
	width:100%;
	float: none;
	text-align: left;
	color:#483838,
	background-color:#FF0000;
}
/* you'll need to add these selectors- they are not a part of the original inventory! */
header nav li:hover ul,
header nav li hover ul {
	width:100%;
	display:block;
	border-radius:0;
	left:25px;float:none;
    z-index:1001;	
}
header nav li a:hover,
header nav li a.hover {
	color:#e1e2dd;
	background-color:#FF0000;
	border-radius:0;
}

/* Display 'show menu' link */
.show-menu{
	display:block;
}

#dashboard{
	display:none;
}
aside{
	float:right;
	max-width:100%;
	min-height:0%;
	padding-bottom:1%;
}
section{
	float: none;
	max-width:80%;
}
section article{}
section article h2{}
.cols{}
.cols-span{}
section article p{}
footer{}
}
	
.cols {
		
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap:10px;
	}
		
	.cols-span {
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
}
	.cols p {
	margin-bottom: 1.1em;
	text-align: justify;
}	
	.lead {
	font-family: Georgia;
	font-size:1.3em;
	text-align: left;
	font-style: italic;
}


.lead{
	font-family: Georgia;
	font-size: 1.3em;
	text-align: left;
	font-style: italic;
	column-span: all;
}
.rgt {
	float: right;
	max-width: 30%;
}
img {
	padding: 0.3em;
}
.smImg  {
	float: left;
	max-width: 30%;
	padding-right: 0.4em;
}
article img {
	max-width: 100%;
}
.spec {
	margin: 15px 0 10px 0;
	border-bottom: 1px solid #483838;
	line-height: 0;
}
.ads {
	float: right;
	text-align: center;
	font-size: 90%;
	color: #b49898;
	background-color: #483838;
}
.ads p {
	padding-top: 0.3em;
}
video {
	float: left;
	padding:  5px;
	margin-top:  10px;
}
.show-menu{
	font-family:Helvetica,Arial< sans-serif;
	text-decoration: none;
	color:#483838;
	background:#b49898;
	text-align: center;
	padding:10px 0;
	position: relative;
	top:-20px;
	display: none;
}
/*Hide checkbox*/
input[type=checkbox] {
	input[type=checkbox]{
		display:none;
	}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
	display:none;
}

/* ********************* Slider ********************** */
/* New in version 1.7+ */ 
#slider3 {
  width:99%;
  height: 400px;
  list-style: none; 
} 
/* images with caption */ 
#slider3 img {
  width: 100%;
  height: 100%; 
} 
/* position the panels so the captions appear correctly */ 
#slider3 .panel {
position: relative; 
} 
/* captions */ 
#slider3 .caption-top, #slider3 .caption-right, #slider3 .caption-bottom, #slider3 .caption-left {
  background:#000;
  color: #fff;
  padding: 10px;
  margin: 0;
  position: relative;
  z-index: 10;
  opacity: 0.8;
  filter: alpha(opacity=80); 
} 
/* Top caption - padding is included in the width (480px here, 500px in the script), same for height */ 
#slider3 .caption-top {
  left: 0;
  top: 0;
  width: 480px;
  height: 30px; 
}
/* Right caption - padding is included in the width (130px here, 150px in the script), same for height */ 
#slider3 .caption-right {
  right:0;
  bottom:0;
  width:130px;
  height:180px; 
} 
/* Bottom caption - padding is included in the width (480px here, 500px in the script), same for height */ 
#slider3 .caption-bottom {
  left:0;
  bottom:0;
  width:480px;
  height:30px; 
} 
/* Left caption - padding is included in the width (130px here, 150px in the script), same for height */ 
#slider3 .caption-left {
  left: 0;
  bottom: 0;
  width:130px;
  height:180px; 
} 
/* Caption close button */ 
.caption-top .close, .caption-right .close, .caption-bottom .close, .caption-left .close {
  font-size: 80%;
  cursor: pointer; 
  float: right;
  display:inline-block; 
}
#dashboard{
	width: 70px;
	background-color: #e1e2dd;
	padding: 20px 20px 0 20px;
	position: absolute;
	left: 90px;
	float: left;
	clear: right;
	z-index: 100;
}
#dashboard img{
	margin-bottom: 20px;
	border: 1px solid rgb (0,0,0);
	opacity: 0.4;
}






#dashboard{
	width: 60px;
	background-color: #FF0000;
	padding: 20px 20px 0 20px;
	left: 10px;
	float: left;
	clear: right;
	z-index: 100;
}
#dashboard img{
	margin-bottom: 20px;
	border: 1px solid rgb (0,0,0);
	opacity: 0.4;
}


	@media screen and (max-width:1160px){
	header{ max-height:150px;}
	header h1{font-size:1.5em;}
	nav{ position:relative; top:34; left:-25px;}
    nav ul li a {font-size:90%;}
	section {float: center;}
	aside{float: none;max-width:100%;}
	#dashboard{display:none;}

}



	
		
		
